/*---------------------------------------------------------  Start Variables */
:root {
  --Moderate-Violet: hsl(263, 55%, 52%);
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Very-Dark-Blackish-Blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  /* ^ Primary ^ */
  --Light-Gray: hsl(0, 0%, 81%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  /* ^ Secondary ^ */
  --Font-Size: 13px;
}
/*-----------------------------------------------------------  End Variables */
/*------------------------------------------------------  Start Global Rules */
-webkit-box-sizing: border-box;
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  transition: 0.5s;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  /* 500 - 600 */
  display: grid;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Light-Grayish-Blue);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*--------------------------------------------------------  End Global Rules */
/*----------------------------------------------------------------Start Code */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 30px;
}
@media (max-width: 425px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-columns: 1fr;
  }
}
.left .top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .left .top {
    grid-template-columns: 1fr;
  }
}
.left .bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
}
@media (max-width: 425px) {
  .left .bottom {
    grid-template-columns: 1fr;
  }
}
.box {
  display: grid;
  border-radius: 10px;
}
@media (max-width: 425px) {
  .box {
    box-shadow: 33px 45px 20px -52px black;
  }
}
.daniel-clifford {
  background-color: var(--Moderate-Violet);
  position: relative;
  z-index: -2;
}
.daniel-clifford::after {
  content: "";
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  position: absolute;
  right: 50px;
  top: 0;
  z-index: -1;
}
.jonathan-walters {
  background-color: var(--Very-Dark-Grayish-Blue);
}
.jeanette-harmon {
  background-color: var(--White);
  box-shadow: 33px 45px 20px -52px black;
}

.patrick-abrams {
  background-color: var(--Very-Dark-Blackish-Blue);
}
.kira-whittle {
  background-color: var(--White);
  height: 575px;
  box-shadow: 33px 45px 20px -52px black;
}
@media (max-width: 425px) {
  .kira-whittle {
    height: 400px;
  }
}
.header {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
}
.header .image {
  position: relative;
  width: 34px;
  height: 34px;
  background-color: white;
  border-radius: 50%;
}
.daniel-clifford .header .image,
.patrick-abrams .header .image {
  background-color: #a878e5;
}
.header img {
  left: 2px;
  top: 2px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
}
.header .name {
  margin-left: 20px;
}
.header .name h1 {
  margin-bottom: 0;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}
.jeanette-harmon .header .name h1,
.kira-whittle .header .name h1 {
  color: black;
}
.header .name h2 {
  margin-top: 5px;
  color: var(--Light-Gray);
  font-size: 14px;
  font-weight: 500;
}
.daniel-clifford .header .name h2,
.jonathan-walters .header .name h2,
.patrick-abrams .header .name h2 {
  opacity: 75%;
}
.middle {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -10px;
}
.middle p {
  color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.25;
}
.jeanette-harmon .middle p,
.kira-whittle .middle p {
  color: black;
}
.footer {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.footer p {
  font-size: var(--Font-Size);
  color: var(--Light-Gray);
  opacity: 75%;
  line-height: 1.4;
}
.jeanette-harmon .footer p,
.kira-whittle .footer p {
  color: black;
}
.kira-whittle .footer p {
  font-size: 12px;
}
/*------------------------------------------------------------------End Code */
