/*---------------------------------------------------------  Start Variables */
:root {
  --Moderate-Violet: hsl(263, 55%, 52%);
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Very-Dark-Blackish-Blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  /* ^ Primary ^ */
  --Light-Gray: hsl(0, 0%, 81%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  /* ^ Secondary ^ */
  --Font-Size: 13px;
}
/*-----------------------------------------------------------  End Variables */
/*------------------------------------------------------  Start Global Rules */
-webkit-box-sizing: border-box;
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  transition: 0.5s;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  /* 500 - 600 */
  display: grid;
  align-items: center;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*--------------------------------------------------------  End Global Rules */
/*----------------------------------------------------------------Start Code */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.left .top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.left .bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
/*------------------------------------------------------------------End Code */
